.container {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}
.card {
  position: relative;
}
.moves {
  margin-bottom: 50px;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 30px;
  text-align: center;
  align-items: center;
  color: #f9f5eb;
  margin: 0px;
  padding-top: 10px;
  margin-bottom: 26px;
}

.grid_container {
  /* width: 100vw;
  height: 100vh; */
  /* justify-content: center; */
  display: grid;
  grid-template-columns: repeat(4, 130px);
  gap: 5px;
  justify-content: center;
  align-content: center;
  color: rgb(211, 203, 51);
  background-image: none !important;
}

.card img {
  width: 120px;
  height: 120px;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

/* front of card - the picture */
.card .image {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.turn .image {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* back of card - cover */
.card .background {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.turn .background {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
