
.grid-container {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 130px);
  grid-template-rows: repeat(4, 130px);
  gap: 10px;
  background-color: #f4dcdc;

  /* make the box in center of the screen */
  justify-content: center;
  align-content: center;
  color: rgb(138, 133, 34);
  background-image: none!important;
}

.grid-item {
    background-color: #FB2576;
    color: rgb(102, 202, 21);
    border-radius: 5px;
    display: grid;
    /* place the item in center */
    place-items: center;
    cursor: pointer;
}

img {
  width: 128px;
  height: 128px;
  cursor: pointer;
}

.hide {
  display: none;
}
/* .elon {
    text-align: center;
    height: 128px;
    width: 128px;
    background-image: url("../../public/static/images/elon.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;
  } */

  .flip {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    transition: transform 0.8s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
