
.card {
  position: relative;
}

.grid_container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 130px);
  gap: 10px;

  justify-content: center;
  align-content: center;
  color: rgb(138, 133, 34);
  background-image: none!important;
}

.card img {
  width: 128px;
  height: 128px;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

.card .image {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flip .image {
  transform: rotateY(0deg);
  transition: all ease-in 0.2s;
  /* position: absolute; */
}
.card .background {
  transition: all ease-in 0.2s;
  /* position: absolute; */
}
.flip .background {
  transform: rotateY(90deg); 
  transition: all ease-in 0.2s;
}

/* front of card - the picture */
.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* back of card - cover */
.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}